*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
      background-color: #f5f7fa;
      font-family: 'Segoe UI', sans-serif;
    }

    .navbar {
      background-color: #fff8e8;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .card {
      border: none;
      border-radius: 1.5rem;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
    }

    .btn-custom {
      background-color: #fcd34d;
      border: none;
      color: #000;
      font-weight: bold;
    }

    .btn-custom:hover {
      background-color: #fbbf24;
    }

    .badge-sale {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #dc2626;
      color: white;
      padding: 5px 10px;
      border-radius: 999px;
      font-size: 0.8rem;
      font-weight: bold;
    }

    /*********************************************/

    #hot-sale {
        position: absolute;
        width: 40px;
    }


    .container-card {
    padding: 1rem;
    max-width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    }


    .carousel-item img {
      height: 500px;
      object-fit: cover;
    }

    .product-card {
      border: none;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      margin-bottom: 2rem;
    }

    .product-card .card-body {
      padding: 2rem;
    }

    .btn-buy {
      background-color: #000;
      color: #fff;
      border-radius: 10px;
    }

    .btn-buy:hover {
      background-color: #333;
    }

    .carousel-item {
    height: 500px;
    overflow: hidden;
    }

    .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    }


    